<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обводильщик</title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/script/main.js" type="application/javascript"></script>
</head>
<body>
<div id="main_bar">
    <canvas id="canvas"></canvas>
</div>
<div id="info_bar">
    <p>JSON</p>
    <textarea id="json_info" rows="45" cols="30" readonly="true">

    </textarea>
    <p>
    <input type="file" id="inp">
    </p>
</div>

</body>
</html>